

body {
  background-color: #1f2123;
}

.github-icon {
    max-width: 5%;
}

.contact-btn {
    text-align: center;
    background-color: #D64045;
    color: #FCF7F8;
}

.background-image-bubbles {
    display: inline-block;
    background-image: url(../Images/sectionGradient.png);
    background-size: cover;
}

.view-height-85 {
    display: inline-block;
    height: 85vh!important;
}

.reading {
    display: block;
    font-size: large; 
    line-height:2.2em; 
    font-weight: 400;
    max-width: 80%;
  }

.card-color {
    background-color: #2a2d30!important;
}

.nav-color {
  background-color: #2a2d30!important;
}

.background-image-portal{
    display: inline-block;
    background-image: url(../Images/ronPortal.png);
    background-size: cover;
  }

  .project-vid {
    height: 40vh!important;
    width: 80vh!important;
  }

  .footer-icon {
    max-width: 8%;
  }

  a:link {
    text-decoration: none;
  }

.collapse-color {
  border-color: #D64045!important;
  width: 30px!important;
  height: 30px;
}